:root {
  /* COLOR */
  --background-brand-bg-brand-purple-telus: rgb(75, 40, 109);
  --background-critical-bg-critical-red-dark: rgb(193, 35, 53);
  --background-danger-bg-danger-red-light: rgb(255, 246, 248);
  --background-dark-bg-dark-grey-shuttle: rgb(103, 110, 115);
  --background-darker-bg-darker-grey-charcoal: rgb(65, 69, 71);
  --background-darkest-bg-darkest-grey-thunder: rgb(44, 46, 48);
  --background-light-bg-light-grey-athens: rgb(244, 244, 247);
  --background-lighter-bg-lighter-grey-alabaster: rgb(250, 250, 250);
  --background-lightest-bg-lightest-white: rgb(255, 255, 255);
  --background-modal-bg-modal: rgba(244, 244, 247, 0.97);
  --background-success-bg-success-green-panache: rgb(244, 249, 242);
  --background-warning-bg-warning-amber-light: rgb(255, 249, 238);
  --border-brand-border-brand-purple-telus: rgb(75, 40, 109);
  --border-danger-border-danger-red: rgb(225, 35, 57);
  --border-dark-border-dark-grey-shuttle: rgb(103, 110, 115);
  --border-default-border-default-grey-cloud: rgb(178, 185, 191);
  --border-inverse-border-inverse-white: rgb(255, 255, 255);
  --border-light-border-light-grey-mystic: rgb(227, 230, 232);
  --border-success-border-success-green-accessible: rgb(43, 128, 0);
  --border-warning-border-warning-amber: rgb(250, 202, 105);
  --brand-green-accessible-green-accessible: rgb(43, 128, 0);
  --brand-green-dark-fern-green-dark-fern: rgb(22, 62, 6);
  --brand-green-panache-green-panache: rgb(244, 249, 242);
  --brand-green-san-felix-green-san-felix: rgb(31, 92, 9);
  --brand-green-telus-green-telus: rgb(102, 204, 0);
  --brand-green-tusk-green-tusk: rgb(227, 246, 209);
  --brand-green-yellow-green-yellow: rgb(191, 231, 151);
  --brand-purple-dark-purple-dark: rgb(48, 193, 255);
  --brand-purple-deluge-purple-deluge: rgb(124, 83, 165);
  --brand-purple-eminence-purple-eminence: rgb(97, 56, 137);
  --brand-purple-telus-purple-telus: rgb(75, 40, 109);
  --brand-white-white: rgb(255, 255, 255);
  --gradient-pink-pink: rgb(229, 50, 147);
  --grey-alabaster-grey-alabaster: rgb(250, 250, 250);
  --grey-athens-grey-athens: rgb(244, 244, 247);
  --grey-charcoal-grey-charcoal: rgb(65, 69, 71);
  --grey-cloud-grey-cloud: rgb(178, 185, 191);
  --grey-mystic-grey-mystic: rgb(227, 230, 232);
  --grey-shuttle-grey-shuttle: rgb(103, 110, 115);
  --grey-thunder-grey-thunder: rgb(44, 46, 48);
  --icon-brand-icon-brand-purple-telus: rgb(75, 40, 109);
  --icon-danger-icon-danger-red-dark: rgb(193, 35, 53);
  --icon-inverse-icon-inverse-white: rgb(255, 255, 255);
  --icon-neutral-icon-neutral-grey-charcoal: rgb(65, 69, 71);
  --icon-subtle-icon-subtle-grey-shuttle: rgb(103, 110, 115);
  --icon-success-icon-success-green-accessible: rgb(43, 128, 0);
  --icon-warning-icon-warning-amber-dark: rgb(180, 135, 44);
  --notification-amber-amber: rgb(250, 202, 105);
  --notification-dark-amber-amber-dark: rgb(180, 135, 44);
  --notification-dark-red-red-dark: rgb(193, 35, 53);
  --notification-darker-red-red-darker: rgb(86, 12, 12);
  --notification-light-amber-amber-light: rgb(255, 249, 238);
  --notification-light-red-red-light: rgb(255, 246, 248);
  --notification-red-red: rgb(225, 35, 57);
  --opacity-dark-10-dark-10: rgba(0, 0, 0, 0.1);
  --opacity-dark-20-dark-20: rgba(0, 0, 0, 0.2);
  --opacity-dark-40-dark-40: rgba(0, 0, 0, 0.4);
  --opacity-dark-5-dark-5: rgba(0, 0, 0, 0.05);
  --opacity-dark-60-dark-60: rgba(0, 0, 0, 0.6);
  --opacity-dark-80-dark-80: rgba(0, 0, 0, 0.8);
  --opacity-dark-97-dark-97: rgba(0, 0, 0, 0.97);
  --opacity-light-10-light-10: rgba(255, 255, 255, 0.1);
  --opacity-light-20-light-20: rgba(255, 255, 255, 0.2);
  --opacity-light-40-light-40: rgba(255, 255, 255, 0.4);
  --opacity-light-60-light-60: rgba(255, 255, 255, 0.6);
  --opacity-light-80-light-80: rgba(255, 255, 255, 0.8);
  --opacity-light-97-light-97: rgba(255, 255, 255, 0.97);
  --opacity-transparent-transparent: rgba(255, 255, 255, 0);
  --text-action-text-action-green-accessible: rgb(43, 128, 0);
  --text-brand-text-brand-purple-telus: rgb(75, 40, 109);
  --text-danger-text-danger-red-dark: rgb(225, 35, 57);
  --text-inverse-text-inverse-white: rgb(255, 255, 255);
  --text-text-text-neutral-grey-charcoal: rgb(65, 69, 71);
  --text-text-dark-text-dark-grey-thunder: rgb(44, 46, 48);
  --text-text-light-text-subtle-grey-shuttle: rgb(103, 110, 115);
}
